:root {
  --small-gap: 15px;
  --medium-gap: 25px;
  --large-gap: 40px;
  --light-green: #c7e4a9;
  --dark-green: green;
  --dark-gray: gray;
}

body {
  margin: 0px;
  background-color: rgb(220, 220, 220);
}

body,
input,
button,
label {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.header {
  background-color: var(--light-green);
  padding-bottom: var(--large-gap);
}

.player-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding-left: var(--medium-gap);
  padding-right: var(--medium-gap);
  padding-top: var(--large-gap);
  padding-bottom: var(--large-gap);
}
.player-server {
  margin: 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: var(--small-gap);
}
.player-server-url-input {
  flex-grow: 1;
}
.player-score {
  margin: 0px;
  flex-grow: 0;
  align-items: center;
  padding-left: var(--medium-gap);
}
.welcome {
  padding-left: var(--medium-gap);
  padding-right: var(--medium-gap);
}

#challenges {
  padding-left: var(--medium-gap);
  padding-right: var(--medium-gap);
}

.challenge {
  border-radius: 30px;
  background-color: white;
  margin-top: var(--large-gap);
  padding: var(--medium-gap);
}

.challenge-name {
  color: var(--dark-gray);
}

@media screen and (max-width: 992px) {
  :root {
    --small-gap: 15px;
    --medium-gap: 25px;
    --large-gap: 70px;
  }
  body,
  input,
  button,
  label {
    font-size: 30px;
  }
  .player-summary input,
  .player-summary label,
  .player-summary button {
    font-size: 40px;
  }
  .player-score {
    font-size: 50px;
  }
  .welcome {
    font-size: 30px;
  }
}
