:root {
  --small-gap: 15px;
  --medium-gap: 25px;
  --large-gap: 30px;
  --light-green: #c7e4a9;
  --dark-green: green;
  --dark-gray: gray;
}

body {
  margin: 0px;
  background-color: rgb(220, 220, 220);
}

body,
input,
button {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.field-name {
  font-size: 20px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--small-gap);
}

.header {
  background-color: var(--light-green);
  padding-bottom: var(--large-gap);
}

.player-summary {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding-left: var(--medium-gap);
  padding-right: var(--medium-gap);
  padding-top: var(--medium-gap);
  padding-bottom: var(--large-gap);
}
.player-server {
  margin: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding-right: var(--medium-gap);
}
.player-server-url-input {
  flex-grow: 1;
}
.run-trigger {
  background-color: var(--light-green);
  color: var(--dark-green);
  cursor: pointer;
  border: none;
}
.player-score {
  margin: 0px;
  flex-grow: 0;
  padding-left: var(--medium-gap);
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  text-align: right;
}
#score {
  font-size: 30px;
}
.welcome {
  padding-left: var(--medium-gap);
  padding-right: var(--medium-gap);
}

#challenges {
  padding-left: var(--medium-gap);
  padding-right: var(--medium-gap);
}

.challenge {
  border-radius: 30px;
  background-color: white;
  margin-top: var(--large-gap);
  padding: var(--medium-gap);
}

.challenge-name {
  color: var(--dark-gray);
}

@media screen and (max-width: 992px) {
  :root {
    --small-gap: 15px;
    --medium-gap: 25px;
    --large-gap: 70px;
  }
  body,
  input,
  button {
    font-size: 30px;
  }
  .field-name {
    font-size: 40px;
  }
  .player-summary input,
  .player-summary button {
    font-size: 40px;
  }
  .run-trigger {
    font-size: 60px;
  }
  #score {
    font-size: 50px;
  }

  .welcome {
    font-size: 30px;
  }
}
